.banner {
    margin: 60px 80px;
    height: 223px;
    max-width: 1240px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.banner h2 {
    color: white;
    font-size: 48px;
}

@media screen and (max-width: 1200px) {
    .banner {
        height: 111px;
        margin: 40px 20px;
        border-radius: 10px;
    }

}

@media screen and (max-width: 1023px) {
    .banner h2 {
        font-size: 24px;
        text-align: left;
        margin-left: 10px;
        margin-right: 30%;
    }

}